@import 'variables';

body {
    margin: 0;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
ul,
ol,
button,
input,
textarea {
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    margin: 0;
    padding: 0;
    color: $color-black;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object,
picture,
source {
    // disable drag
    // pointer-events: none;
    -ms-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    // disable zoom
    touch-action: none;
    // disable tap highlight
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main--container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}