@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600700;800&display=swap');

$font-primary: 'Montserrat', sans-serif;

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px
$font-size-xxxl: 1.75rem; // 28px
$font-size-xxxxl: 1.875rem; // 30px
$font-size-xxxxxl: 2.25rem; // 36px
$font-size-xxxxxxl: 3rem; // 48px

$gradient-primary: linear-gradient(90deg, #162E8D 0%, #28105C 100%);

$color-white: #FFFFFF;
$color-grey: #272727;
$color-skin: #FCE5C7;
$color-black: #000000;